<!DOCTYPE HTML>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>

    </div>
    <form method="post">
        <div>
            Please specify the user you want to query about:
            <input type="text" name="redditor" />
        </div>
        <div>
            Sort comments by
            <br>
            <input type="radio" name="sorting" value="top" checked = checked> Top
            <br>
            <input type="radio" name="sorting" value="Hot"> Hot
            <br>
            <input type="radio" name="sorting" value="New"> New
            <br>
            <input type="radio" name="sorting" value="Conterversial"> Conterversial
            <br>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>

    </form>
</body>
</html>