<!DOCTYPE HTML>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
<div>

</div>
<form method="post">
    <fieldset style="width:500px;">
        <legend>My Form</legend>
    <table>
        <tr>
            <td>Please specify the user you want to query about:</td>
            <td><input type="text" name="redditor"></td>
        </tr>
       <tr>
           <td>Sort comments by</td>
       </tr>
        <tr>
            <td><input type="radio" name="sorting" value="top" checked=checked> Top</td>
        </tr>
        <tr>
            <td><input type="radio" name="sorting" value="hot"> Hot</td>
        </tr>
        <tr>
            <td><input type="radio" name="sorting" value="new"> New</td>
        </tr>
        <tr>
            <td><input type="radio" name="sorting" value="controversial"> Controversial</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
    </fieldset>
</form>
</body>
</html>